---
layout: default
---

{% include logo.html %}

<div class="section section-interrogation" id="interrogation">
  {% capture interrogation %}{% include sections/interrogation.md %}{% endcapture %}
  {{ interrogation | markdownify }}
</div>

<div class="section section-gmai" id="gmai">
  {% capture gmai %}{% include sections/gmai.md %}{% endcapture %}
  {{ gmai | markdownify }}
</div>

<div class="section section-dod" id="dod">
  {% capture dod %}{% include sections/dod.md %}{% endcapture %}
  {{ dod | markdownify }}
</div>

<div class="section section-about" id="about">
  {% include sections/about.html %}
</div>

<div class="section section-contact" id="contact">
  {% capture contact %}{% include sections/contact.md %}{% endcapture %}
  {{ contact | markdownify }}
</div>
